name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Final Profile Stats
        uses: lowlighter/metrics@latest
        with:
          filename: metrics-final.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: UmutcanElci
          template: classic
          config_timezone: Europe/Istanbul
          
        
          base: header, activity, community, repositories
          
        
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_habits_trim: yes
          
      
